@model WebThoiTrang.Models.EF.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.SeoTitle;
    ViewBag.SeoDescription = Model.SeoDescription ?? Model.Title;
    ViewBag.SeoKeyWord = Model.SeoKeywords ?? Model.Title;
}

<style>
    .btn-up,
    .btn-down {
        width: 45px;
        height: 100%;
        cursor: pointer;
    }
</style>
@if (Model != null)
{
    <div class="sec-product-detail bg0 p-t-65 p-b-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-l-25 p-r-30 p-lr-0-lg">
                        <div class="wrap-slick3 flex-sb flex-w">
                            <div class="wrap-slick3-dots"></div>
                            <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                            <div class="slick3 gallery-lb">
                                @if (Model.ProductImage != null && Model.ProductImage.Any())
                                {
                                    foreach (var item in Model.ProductImage)
                                    {
                                        <div class="item-slick3" data-thumb="@item.Image">
                                            <div class="wrap-pic-w pos-relative">
                                                <img src="@item.Image" alt="IMG-PRODUCT">

                                                <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@item.Image">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            @Model.Title
                        </h4>

                        <span class="mtext-106 cl2">
                            @if (Model.PriceSale > 0)
                            {
                                <div class="product_price">@WebThoiTrang.Common.Common.FormatNumber(Model.PriceSale, 0)đ<span style="text-decoration:line-through;opacity:0.6">@WebThoiTrang.Common.Common.FormatNumber(Model.Price, 0) đ</span></div>
                                <div style="display:none;" class="in_product_price"> @Model.PriceSale</div>
                            }
                            else
                            {
                                <div class="product_price">@WebThoiTrang.Common.Common.FormatNumber(Model.Price, 0)</div>
                                <div style="display:none;" class="in_product_price"> @Model.Price</div>
                            }
                        </span>

                        <p class="stext-102 cl3 p-t-23">
                            @Model.Description
                        </p>

                        <!--  -->
                        <div class="p-t-33">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 flex-w flex-m respon6-next">
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="btn-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input class="mtext-104 cl3 txt-center num-product" id="quantity_value" type="number" name="num-product" value="1">

                                        <div class="btn-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>

                                    <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 btnAddToCart " data-id="@Model.Id">
                                        Thêm vào giỏ
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!--  -->
                        <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                            <div class="flex-m bor9 p-r-10 m-r-11">
                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                    <i class="zmdi zmdi-favorite"></i>
                                </a>
                            </div>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bor10 m-t-50 p-t-43 p-b-40">
                <!-- Tab01 -->
                <div class="tab01">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item p-b-10">
                            <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                        </li>

                        <li class="nav-item p-b-10">
                            <a class="nav-link" data-toggle="tab" href="#detail" role="tab">Detail</a>
                        </li>
                        <li class="nav-item p-b-10">
                            <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews</a>
                        </li>

                        
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content p-t-43">
                        <!-- - -->
                        <div class="tab-pane fade show active" id="description" role="tabpanel">
                            <div class="how-pos2 p-lr-15-md">
                                <p class="stext-102 cl6">
                                    @Model.Description
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade show " id="detail" role="tabpanel">
                            <div class="how-pos2 p-lr-15-md">
                                <p class="stext-102 cl6">
                                    @Html.Raw(Model.Detail)
                                </p>
                            </div>
                        </div>

                         
                         
                        <div class="tab-pane fade show " id="reviews" role="tabpanel">
                        <div class="row">
                            <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                <div class="p-b-30 m-lr-15-sm">
                                    @*review*@
                                    @Html.Action("_LoadReview", "Review")

                                    @*add review*@
                                    @Html.Action("_Review", "Review")
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Related Products -->
        @Html.Action("Partial_ItemsByCateId", "Products")

    </div>

}
<script>
    const minusBtn = document.querySelector('.btn-up');
    const plusBtn = document.querySelector('.btn-down');
    const qtyInput = document.querySelector('.num-product');

    minusBtn.addEventListener('click', () => {
        let currentQty = parseInt(qtyInput.value);
        if (currentQty > 0) {
            qtyInput.value = currentQty - 1;
        }
    });

    plusBtn.addEventListener('click', () => {
        let currentQty = parseInt(qtyInput.value);
        qtyInput.value = currentQty + 1;
    });
</script>
